<% provide :page_title, 'Log In' %>
<% currently_at 'Log In' %>

<body class="text-center">
    <main class="form-signin">
        <h1 class="py-5 h3 mb-3 fw-normal">Please sign in</h1>

        <%= form_with url: session_path do |f| %>
            <div class="form-floating">
                
                <%= f.email_field :email, value: params[:email], placeholder: 'E-mail',
                    class: 'form-control-lg' %>
                    
            </div>
            <div class="form-floating">
                
                <%= f.password_field :password, class: 'form-control-lg' %>
            </div>

            <div class="py-3 checkbox mb-3">
                <label>
                <%= f.check_box :remember_me, class: 'form-check-input', value: '1' %>
                <%= f.label :remember_me, class: 'form-check-label' %>
                </label>
            </div>
            <%= f.submit "Log in", class: 'btn btn-primary btn-lg' %>
        <% end %>
    </main>
</body>