<%= provide :main_menu do %>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-2 border-bottom">
        <ul class="d-flex align-items-center col-md-2 mb-2 mb-md-0 text-dark text-decoration-none">
            <%= link_to "Rubyrary", root_path,
                    class: "h4 nav-link px-2 link-dark" %>
        </ul>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-1">
            <li><%= nav_tab 'Home', root_path,
                    class: 'h4 nav-link px-2', current_page: current_page %></li>
            <% if policy([:admin, :user]).index? %>
                <li><%= nav_tab 'Users', admin_users_path,
                    class: 'h4 nav-link px-2', current_page: current_page %></li>
                <li><%= nav_tab 'Authors', admin_authors_path,
                    class: 'h4 nav-link px-2', current_page: current_page %></li>
            <% end %>
            <% if user_signed_in? %>
                <li><%= nav_tab 'MyProfile', edit_user_path(current_user),
                    class: 'h4 nav-link px-2', current_page: current_page %></li>
            <% end %>
        </ul>

        <div class="align-items-center col-md-2">
            <% if user_signed_in? %>
                <%= link_to 'Log Out', session_path,
                    class: 'btn btn-outline-secondary px-2', data: {method: :delete} %>
            <% else %>
                <%= link_to 'Log In', new_session_path,
                    class: 'btn btn-outline-primary px-2', current_page: current_page %>
                <%= link_to 'Sign Up', new_user_path,
                    class: 'btn btn-primary px-2', current_page: current_page %></li>
            <% end %>
        </div>
    </header>
<% end %>