<%= render 'shared/errors', object: @book %>

<%= form_with model: @book do |f| %>
  <div class="justify-content-center mb-3 row">
    <div class="col-sm-1 col-form-label">
      <%= f.label :title %>
    </div>

    <div class="col-sm-5">
      <%= f.text_field :title, placeholder: 'Title of the book', class: 'form-control' %>
    </div>
  </div>

  <div class="justify-content-center mb-3 row">
    <div class="col-sm-1 col-form-label">
      Description
    </div>

    <div class="col-sm-5">
      <%= f.text_area :body, class: 'form-control' %>
    </div>
  </div>

  <div class="justify-content-center mb-3 row">
    <div class="col-sm-1 col-form-label">
      <%= f.label :cover %>
    </div>

    <div class="col-sm-5">
      <%= f.file_field :cover %>
    </div>

    <% if @book.cover.attached? %>
        <%= cl_image_tag @book.cover %>
    <% end %>
  </div>

  <div class="container">
    <div class="justify-content-center mb-4 row">
        <div class="col-sm-1 form-check-label">
          <%= f.label :groups %>
        </div>

      <div class="form-check mb-4">
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 md-3 g-2">
          <%= f.collection_check_boxes :group_ids, groups, :id, :title, {}, multiple: true,
            class: "d-inline-block me-1" %>
        </div>
      </div>
    </div>
  </div>

    <div class="container">
        <div class="col-md-12 text-center ">
        <%= f.submit "Upload a book!", class: 'btn-lg btn-success' %>
    </div>
  </div>
<% end %>